main {
  background-color: var(--c_main);
}
#container > div {
  height: 300px;
  overflow: hidden;
  border: 1px solid red;
  flex: 0 0 30%;
  width: 30%;
  padding: 10px;
  margin: 10px;
}
#container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 960px) {
}
