main {
  background-color: var(--c_main);
}
#container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
}
#container * {
  flex: 0 0 auto;
  width: 50%;
  
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 960px) {
}
