
article>div {
    margin: 5px;
    margin-bottom: 10px;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.content>section {
    text-align: center;
}

article {
    margin: auto;
}

.header, .main, .footer {
    padding: 5px;
    border: solid 1px black;
}

.header {
    background-color: rgb(108, 108, 255);
    text-align: center;
}

.footer {
    background-color: rgb(107, 107, 255);
    text-align: center;
}

#pair_game, #memory_game {
    background-color: rgb(142, 142, 255);
}

#cards, #cards_mem {
    background-color: rgb(77, 77, 192);
    border: solid 1px black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.pair_card, .card_mem {
    flex: 0 0 auto;
    background-color: rgb(88, 80, 80);
    border-radius: 5px;
    border: solid 1px black;
    padding: 5px;
    max-width: 150px;
}

.pair_card>img, .card_mem>img {
    width: 100%;
    margin: auto;
}

#options, #options_mem {
    background-color: rgb(69, 69, 160);
    border: solid 1px black;
    margin: auto;
    margin-bottom: 5px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}

#find_card {
    margin: auto;
    width: 30%;
}

#main_card_mem>h3 {
    text-align: center;
    margin: 5px;
}

#find_card>img {
    width: 100%;
}