
#test_alt, #test_koz, #test_fel, aside {
    border: solid 1px black;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.content>section {
    text-align: center;
}

#main_content {
    display: grid;
    grid-template-columns: 80% 20%;
}

article, aside {
    width: 98%;
    margin: auto;
}

aside {
    padding: 5px;
    height: 100%;
}

#resoult {
    top: 100px;
    position: sticky;
}

#tests h3 {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    margin: 0;
}

.tests {
    padding: 10px;
}

.kerdes {
    margin: 5px;
}

.submit_button {
    color: black;
    background-color: transparent;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}

@media screen and (max-width: 600px)
{
    #main_content {
        display: inline;
    }
}