
#test_alt, #test_koz, #test_fel {
    border: solid 1px black;
}

article {
    padding: 0;
}

#tests h3 {
    text-align: center;
    border: solid 1px black;
    padding: 5px;
    cursor: pointer;
}

.tests {
    padding: 5px;
}

/* HIDE ANSWER */
.valaszok {
    display: none;
}